.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.item{
    display: flex;
    gap: 20px;
    position: relative;
    background-color: var(--bgSoft);
    border-radius: 10px;
    padding: 20px 24px;
    margin-bottom: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification{
  font-weight: bold;
}
.title{
    font-weight: 500;
    font-size: 14px;
    color: var(--textSoft);
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}