.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border-radius: 10px;
    background-color: var(--bgSoft);
}
.title{
    color: var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
    gap: 20px;
}
.menu{
    display: flex;
    align-items: center;
   gap: 20px;
}
.search{
    display: flex;
    align-items: center;
    background-color: rgb(12, 12, 50);
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}
.input{
    background-color: transparent;
    border: none;
    color: var(--textSoft);
}
.icons{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
}

